.popup__profile-title {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (min-width: 300px) and (max-width: 540px) {
  .popup__profile-title {
    width: 180px;
  }
}
